@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 395px) {
    #short-nav {
        top: 38px;
    }
}

.active{
    display: block;
}
.btn-active{
    background-color: white;
}
